body {
	font-family: arial, san-serif;
	font-size: 16pt;
}

h2 {
	font-size: 32pt;
	padding: 0px;
	margin: 0px;
}

button {
	padding: 50px;
}

#testCanvas {
	background-color: #000;
	float: left;
	margin-right: 3em;
}